
/WebApplication5.Web/Properties/
/WebApplication5.Web/bin/
/WebApplication5.Web/obj/
/WebApplication5.DBUtility/Properties/
/WebApplication5.DBUtility/bin/
/WebApplication5.DBUtility/obj/
/WebApplication5.Model/Properties/
/WebApplication5.Model/bin/
/WebApplication5.Model/obj/
/WebApplication5.DAL/Properties/
/WebApplication5.DAL/bin/
/WebApplication5.DAL/obj/
/WebApplication5.Common/Properties/
/WebApplication5.Common/bin/
/WebApplication5.Common/obj/
/WebApplication5.BLL/Properties/
/WebApplication5.BLL/bin/
/WebApplication5.BLL/obj/
